{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jest"
  ],
  "extends": ["airbnb/base", "eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "quotes": [2, "single"],
    "eol-last": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "react/prop-types": [0],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error",
    "no-unused-vars": ["error", { "varsIgnorePattern": "^Style$" }]
  },
}
