.Banner {
  display: flex;
  width: 70%;
  margin: 0 auto 80px auto;
}

.Banner h2 {
  font-family: serif;
  font-size: 45px;
  font-weight: lighter;
  text-align: left;
  letter-spacing: 2px;
}

.Banner p {
  text-align: left;
  font-size: 20px;
  font-weight: lighter;
  line-height: 150%;
}

.banner-left {
  width: 50%;
}

.banner-right {
  background-image: url(http://68.media.tumblr.com/bd9c40368eed9d1d994bfc716aafec48/tumblr_inline_ocdletfMwY1sse7kl_500.png);
  background-size: cover;
  width: 50%;
}

.button-holder {
  display: flex;
  justify-content: flex-start;
}
